body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    background-image: url('https://png.pngtree.com/background/20230518/original/pngtree-an-old-woodworking-shop-with-tables-and-chairs-picture-image_2646691.jpg');
    background-size: cover;
    background-position: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

h1, h2 {
    color: whitesmoke;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

input, textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: whitesmoke; /* White text */
}

th {
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent black */
}

#total-budget, #materials-total, #labor-cost-total, #final-total {
    font-weight: bold;
    color: whitesmoke; /* White text */
}

.new-budget-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #ffc107;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.new-budget-button:hover {
    background-color: #e0a800;
}

.pdf-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.pdf-button:hover {
    background-color: #5a6268;
}

.pdf-button img {
    vertical-align: middle;
    margin-right: 5px;
}

textarea {
    margin-top: 20px;
    width: 100%;
    resize: none;
}

@media (max-width: 600px) {
    .form-group {
        flex-direction: column;
    }

    label, input, button {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }
}
